
    {{#each this}}
        <article>
            <h3 data-id={{this._id}}>{{this.title}}</h3>
            <p>{{this.summary}}</p>
            <a href={{this.link}}>{{this.link}}</a>
        </article>
    {{/each}}

